.m-t-10 {
	margin-top: 10px;
}
.m-b-10 {
	margin-bottom: 10px;
}
.m-b-20 {
	margin-bottom: 20px!important;
}
.m-l-10 {
	margin-left: 10px;
}
.p-l-5 {
	padding-left: 5px;
}
.p-r-5 {
	padding-right: 5px;
}
.p-r-10 {
	padding-right: 10px;
}
.w-pct-50 {
	width: 50%
}

.bg_level_1 {background-color: #2fa0ff; }
.bg_level_2 {background-color: #19bc6a; }
.bg_level_3 {background-color: #ffb303; }
.bg_level_4 {background-color: #fa7b14; }
.bg_level_5 {background-color: #e2101f; }
.bd_level_1 {border-color: #2fa0ff; }
.bd_level_2 {border-color: #19bc6a; }
.bd_level_3 {border-color: #ffb303; }
.bd_level_4 {border-color: #fa7b14; }
.bd_level_5 {border-color: #e2101f; }
.skin-bg-red {
	background: #f90751;
}
.skin-bg-yellow {
	background: #fda744;
}
.skin-bg-green {
	background: #19bc6a;
}
.border-red{
	border-color:#f90751;
}
.border-yellow{
	border-color:#fda744;
}
.border-green{
	border-color:#19bc6a;
}
.line-1px::after {
	position: absolute;
	z-index: 1;
	content: "";
	left: 0;
	right: 0;
	top: 100%;
	height: 1px;
	width: 100%;
	background: #1B2637;
}
.panel-head {
	position: relative;
	padding: 15px 20px;
	background: #1e2e46;
}
.panel-head .panel-title {
	font-size: 20px;
	color: #fff;
}
.panel-head .panel-title .small {
	margin-left: 10px;
	color: #454d6c
}
.panel-head .panel-title .icon-chart {
	font-size: 22px;
	color: #22c9df;
}
.panel-body {
	padding: 15px 20px;
	background: #1e2e46;
}
body {
	padding: 0 35px;
	background: #1b2636;
	color: #8089aa
}
.head {
	height: 70px;
}
.head .logo-box {
	float: left;
	margin-top: 10px;
	margin-right: 15px;
}
.head .nav {
	float: left;
	height: 100%
}
.head .nav .menu {
	overflow: hidden;
}
.head .nav .menu>li {
	float: left;
	height: 100%;
}
.head .nav .menu>li {
	margin-right: 15px;
}
.head .nav .menu>li a {
	display: block;
	height: 100%;
	padding: 0 10px;
	line-height: 70px;
	font-size: 16px;
	color: #c5d8ff;
	cursor: pointer;
}
.head .nav .menu>li a:hover {
	color: #fff;
}
.head .search-box {
	float: left;
	width: calc(100% - 944px);
	position: relative;
	margin-top: 16px;
	font-size: 0;
}
.head .search-box .search-input-wrapper{
	position: relative;
	float: left;
	width: calc(100% - 120px);
}
.head .search-box .search-input {
	-webkit-appearance: none;
	width: calc(100% - 40px);
	height: 40px;
	line-height: 40px;
	padding: 10px 10px 10px 0;
	background: #233653;
	font-size: 14px;
	text-indent: 12px;
	vertical-align: top;
	border: 0;
	color: #4c6597;
}
.head .search-box .search-input:active, .head .search-box .search-input:focus {
	border: none;
	outline: 0
}
.head .search-box .search-input-wrapper .search-result{
	z-index: 1;
	position: absolute;
	top: 41px;
	width: 100%;
	background: #233654;
	font-size: 14px;
	color:#fff;
}
.head .search-box .search-input-wrapper .search-result>li{
	margin:10px 20px;
	
}
.head .search-box .search-input-wrapper .search-result>li .search-result-item-fl{
	width: 90%;
	padding: 8px 10px;
	background: #1E2E47;
}
.head .search-box .search-input-wrapper .search-result>li .search-result-item-fl>p{
	margin-bottom: 5px;
}
.head .search-box .search-input-wrapper .search-result>li .search-result-item-fr{
	width: 10%;
	text-align: center;
}
.head .search-box .btn-search {
	display: inline-block;
	width: 40px;
	height: 40px;
	padding: 8px;
	vertical-align: top;
	background: #233653
}
.head .search-box .btn-search .icon-search {
	font-size: 20px;
	color: #fff;
}
.head .search-box .search-down {
	z-index: 10;
	position: absolute;
	top: 0;
	right: 0;
	display: inline-block;
	width: 80px;
	padding-left: 10px;
	font-size: 14px;
	cursor: pointer;
}
.head .search-box .search-down .search-down-item {
	display: none;
	height: 100%;
	line-height: 40px;
	color: #26c9dc
}
.head .search-box .search-down .search-down-item:not(:first-child){
	padding-left: 10px
	background: #1e2e46;
}
.head .search-box .search-down.show{
	background: #1e2e46;
}
.head .search-box .search-down .search-down-item:hover{
	color:#fff;
}
.head .search-box .search-down.show .search-down-item {
	display: block
}
.head .search-box .search-down .search-down-item.active {
	display: block
}
.head .search-box .search-down .icon-moreunfold {
	position: absolute;
	top: 10px;
	right: 0;
	color: #26c9dc
}
.head .search-box .search-down.show .icon-moreunfold {
	top: 8px;
	transform: rotate(180deg);
}
.foot {
	padding: 10px 0;
	text-align: center;
	color: #a3b4d5;
}

/* 数据展示 */

.main {
	width: 100%;
	min-height: calc(100% - 70px);
}
.main-panel {
	height: 720px;
	margin-bottom: 10px;
}
.panel .panel-left {
	float: left;
	width: 75%;
	height: 100%;
	padding-right: 10px;
}
.panel .panel-left .data-view {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}
.panel .panel-left .data-view .data-view-item {
	width: 33%;
	height: 100px;
	padding-top: 15px;
	text-align: center;
	color: #fff
}
.panel .panel-left .data-view .data-view-item:nth-of-type(1) {
	background: #3780ea url(../../images/hg/company.png) no-repeat center right/auto 120%;
	background-position: 104% -40%;
}
.panel .panel-left .data-view .data-view-item:nth-of-type(2) {
	background: #fda744 url(../../images/hg/eye.png) no-repeat center right/auto 120%;
	background-position: 110% -40%;
}
.panel .panel-left .data-view .data-view-item:nth-of-type(3) {
	background: #ea366d url(../../images/hg/note.png) no-repeat center right/auto 120%;
	background-position: 110% -40%;
}
.panel .panel-left .data-view .data-view-item .count {
	font-size: 30px;
}
.panel .panel-left .data-view .data-view-item .text {
	font-size: 16px;
}
.panel .panel-left .summary-chart {
	position: relative;
	height: calc(100% - 110px);
}
.panel .panel-left .summary-chart .mapBar-wrapper {
	height: 100%;
	margin-right: 320px;
}
.panel .panel-left .summary-chart .mapBar-wrapper .mapBar {
	width: 100%;
	height: 590px;
	border: 0px solid #ccc;
	padding: 10px;
}
.panel .panel-left .summary-chart .list-view {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 300px;
	height: 560px;
	padding: 30px;
	background: #243650;
}
.panel .panel-left .summary-chart .list-view .city-list {
	height: 100%;
	overflow: hidden;
}
.panel .panel-left .summary-chart .list-view .city-list .city-list-item {
	height: 50px;
	line-height: 50px;
	font-size: 18px;
	color: #c5d8ff
}
.panel .panel-left .summary-chart .list-view .city-list .city-list-item .city-name {
	float: left;
}
.panel .panel-left .summary-chart .list-view .city-list .city-list-item .count {
	float: right;
}
.chart-table-wrapper {
	height: 600px;
	background: #1e2e46;
}
.panel .panel-right {
	float: right;
	width: 25%;
	height: 100%;
	background: #1e2e46
}
.trend {
	height: 700px;
	margin: 10px 20px;
}
.trend .trend-top {
	margin-bottom: 10px;
}
.trend .trend-top .icon-2 {
	font-size: 38px;
	color: #22c9df;
	vertical-align: -5px;
}
.trend .trend-top .title {
	margin-left: 10px;
	font-size: 24px;
	color: #fff;
}
.trend .trend-list {
	height: calc(100% - 65px);
	overflow: hidden;
}
.trend .trend-list .trend-list-item {
	position: relative;
	padding: 12px 0;
	font-size: 20px;
	color: #c5d8ff;
	border-top: 1px solid #1B2637;
}
.trend .trend-list .trend-list-item .name {
	width: 80%;
	margin-bottom: 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.trend .trend-list .trend-list-item .num {
	margin-right: 10px;
}
.trend .trend-list .trend-list-item .tip {
	display: inline-block;
	padding: 0 10px;
	border-radius: 10px;
}
.trend .trend-list .trend-list-item .iconfont {
	position: absolute;
	top: 10px;
	right: 0;
	width: 30px;
	height: 30px;
	font-size: 30px;
	color: #f90751;
}

/* 监控页面 */

.monitor.main .search-box .search-input {
	float: left;
	-webkit-appearance: none;
	width: 300px;
	height: 40px;
	line-height: 40px;
	padding: 10px 10px 10px 0;
	background: #233653;
	font-size: 14px;
	text-indent: 12px;
	vertical-align: top;
	border: 0;
	color: #4c6597;
}
.monitor.main .search-box .search-input:active, .monitor .main .search-box .search-input:focus {
	border: none;
	outline: 0
}
.monitor.main .search-box .btn-search {
	float: left;
	width: 40px;
	height: 40px;
	padding: 2px;
	vertical-align: top;
	background: #233653
}
.monitor.main .search-box .btn-search .icon-search {
	font-size: 26px;
	color: #fff;
}
.monitor.main .btn-add-monitor {
	float: right;
	padding: 8px 15px;
	color: #22c9df;
	border: 1px solid #22c9df;
	border-radius: 10px;
	cursor: pointer;
}
.monitor.main .btn-add-monitor:hover {
	color: #fff;
	border-color: #fff;
}
.monitor.main .btn-add-monitor:hover a{
	color:#fff
}
/*  表格容器 */

.main .main-table-item:not(:last-child) {
	margin-bottom: 10px;
}
.table-wrapper {
	min-height: 200px;
	background: #1e2e46;
	color: #fff;
}

/* 图标容器 */

.chart-wrapper {
	min-height: 550px;
	background: #1e2e46;
}

/* 企业分布 */

.location .main .search-list-item {
	float: left;
	margin-right: 15px;
}
.location .main .select-btn {
	padding: 3px 10px;
	border: 1px solid #fff;
	border-radius: 8px;
	color: #fff;
}
.location .main .select-btn.active {
	border: 1px solid #22c0d6;
	color: #22c0d6;
}
.location .main .area-wrapper {
	min-height: 200px;
}
.location .main .area-wrapper .area-head {
	position: relative;
	height: 50px;
	padding-left: 20px;
	line-height: 50px;
	font-size: 16px;
	color: #fff;
	background: #1e2e46;
}
.location .main .area-wrapper .area-head .more {
	position: absolute;
	top: 0;
	right: 10px;
	color: #22c0d6;
	cursor: pointer
}
.location .main .area-wrapper .area-head .more:hover {
	color: #fff
}
.location .main .area-wrapper .area-head .count {
	margin-left: 10px;
}
.location .main .area-wrapper .area-body {
	padding: 20px;
	background: #1e2e46;
}
.location .main .area-wrapper .area-body .company-list {
	line-height: 40px;
}
.location .main .area-wrapper .area-body .company-list .company-list-item {
	float: left;
	margin-right: 15px;
	color: #fff;
}
.location .main .area-wrapper .area-body .company-list .company-list-item .company-name {
	color: #c5d8ff;
}
.location .main .area-wrapper .area-body .company-list .company-list-item .company-state {
	margin-left: 10px;
	padding: 3px 10px;
	border-radius: 8px;
}


/*企业分布-公司详情*/
.company-detail .news-count{
	display: inline-block;
	padding: 8px 15px;
	background: #243650;
	color: #fff;
}
.company-detail .news-item{
	padding: 15px;
	margin-bottom: 10px;
	background: #243650;
	color: #fff;
}
.company-detail .news-item p{
	line-height: 1.7;
}

.company-detail .tabs > div .content .item-title{
   padding: 8px 15px;
	font-size: 24px;
}
/* tab */

.tabs>div {
	display: none;
	clear: both;
}
.tabs .horizontal {
	position: relative;
	margin: 0px;
	padding: 0px;
	height: 50px;
	background: #1e2e46;
}
.tabs .horizontal li {
	float: left;
	list-style: none;
	height: 50px;
	padding: 0 10px;
	line-height: 50px;
	text-align: center;
	cursor: pointer;
	font-size: 16px;
}
.tabs .horizontal li:not(:first-child) {
	margin-left: 15px;
}
.tabs .horizontal li.selectActive {
	color: white;
}

/* 舆情管理 */

.sentiment .left-wrapper {
	width: 70%;
}
.sentiment .right-wrapper {
	width: 30%;
	background: #1e2e46
}
.sentiment .left-wrapper .list-warpper {
	padding: 0 10px 10px 10px;
	background: #1e2e46;
}
.sentiment .left-wrapper .list-warpper .list-item {
	padding: 10px;
	background: #243650;
	color: #fff
}
.sentiment .left-wrapper .list-warpper .list-item .title {
	margin-bottom: 10px;
}
.sentiment .left-wrapper .list-warpper .list-item:not(:last-child) {
	margin-bottom: 15px
}
.sentiment .left-wrapper .list-warpper .list-item .addr-label {
	color: #fff
}

/* 分页 */

.simple-pagination {
	background: #1e2e46;
}
.light-theme a, .light-theme span {
	border: none;
	background: transparent;
	color: #fff;
}
.light-theme .current {
	background: transparent;
	color: #FFF;
}
.light-theme a:hover {
	text-decoration: none;
	color: #1e2e46;
	background: #fff;
}

/*企业列表*/

.company-list-top {
	height: 50px;
	line-height: 50px;
	background: #1e2e46;
}
.company-list-top .text{
	color:#fff
}
.company-list-top .simple-pagination {
	margin-top: 12px;
}
.company-item{
	position: relative;
	background: #1e2e46;
}
.company-item:not(:last-child){
	margin-bottom: 15px;
}
.company-item .left-wrapper{
	margin-right: 175px;
}
.company-item .left-wrapper dd{
	position: relative;
	background: #1e2e46;
}
.company-item .left-wrapper .top{
	padding: 10px;
}
.company-item .left-wrapper .middle{
	padding-left: 10px;
	min-height: 65px;
	line-height: 65px;
}
.company-item .left-wrapper .bottom{
	height: 65px;
}

.company-item .left-wrapper .company-name {
	font-size: 18px;
	color: #c5d8ff;
}
.company-item .left-wrapper .company-state{
	margin-left: 10px;
	padding: 3px 10px;
	border-radius: 8px;
	color:#fff;
}

.company-item .left-wrapper .middle .target-item{
	float: left;
	width: 200px;
	margin-right: 20px;
	color: #c5d8ff
}

.company-item .left-wrapper .middle .target-item .score-color{
	color:#f46792
}

.company-item .right-wrapper{
	position: absolute;
	top: 0;
	right: 0;
	width: 175px;
	min-height: 175px;
	padding: 15px;
	background: #1e2e46;
}
.company-item .right-wrapper .score-wrapper{
	height: 145px;
	border-width:2px;
	border-style: solid;
	border-radius: 0 0 15px 15px;
	text-align: center;
	color:#fff
}
.company-item .right-wrapper .score-wrapper .score-value{
	margin-top: 20px;
	font-size: 48px;
}
.company-item .right-wrapper .score-wrapper .desc{
	font-size: 20px;
}

.company-detail .tabs>div{
	padding: 15px 20px;
	min-height:300px;
	background: #1e2e46;
}
.company-detail .tabs>div .content{
	min-height: 280px;
	background: #243650;
	color:#fff;
}
.company-desc{
	margin-top: 10px;
	line-height: 24px;
	color:#fff;
}

/*企业关键字*/
.keyword-wrapper{
	height: 100%;
	padding-left:15px;
	color:#fff;
}
.keyword-wrapper .keyword-item{
	float: left;
	height: 100%;
	line-height: 65px;
}
.keyword-wrapper .keyword-item:not(:last-child){
	margin-right: 15px;
}

.keyword-wrapper .keyword-item .text{
	padding: 4px 8px;
	border-radius: 8px;
	background: #5BC0DE;
}

/*表格*/
.table{
	width: 100%;
}
.table th,.table td{
	padding: 5px 8px;
}

/*表单输入框*/
.inpt{
	width: 100%;
	height: 30px;
	outline: 0;
	border: 1px solid #ddd;
}
/*选择框*/
.select{
	width: 100%;
	height: 30px;
	outline: 0;
	border: 1px solid #ddd;
}
/*多行输入框*/
.textarea{
	width: 100%;
	outline: 0;
	border: 1px solid #ddd;
}



/*按钮*/
.btn{
	display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn-default{
	border-color: #1E2E46;
}

