.skin-bg-red {
    background: #f90751;
}
body {
    padding: 0 120px;
    background: #1b2636;
}
.head {
    height: 70px;
}
.head .logo-box {
    float: left;
    margin-right: 50px;
    margin-top: 10px;
}
.head .nav {
    float: left;
    height: 100%
}
.head .nav .menu {
    overflow: hidden;
}
.head .nav .menu>li {
    float: left;
    height: 100%;
}
.head .nav .menu>li:not(last-child) {
    margin-right: 20px;
}
.head .nav .menu>li a {
    display: block;
    height: 100%;
    padding: 0 10px;
    line-height: 70px;
    font-size: 18px;
    color: #c5d8ff;
    cursor: pointer;
}
.head .nav .menu>li a:hover {
    color: #fff;
}
.head .search-box {
    float: right;
    position: relative;
    margin-top: 20px;
    font-size: 0;
}
.head .search-box .search-input {
    appearance: none;
    -webkit-appearance: none;
    width: 300px;
    height: 40px;
    line-height: 40px;
    padding: 10px 10px 10px 0;
    background: #233653;
    font-size: 14px;
    text-indent: 12px;
    vertical-align: top;
    border: 0;
    color: #4c6597;
}
.head .search-box .search-input:active,
.head .search-box .search-input:focus {
    border: none;
    outline: 0
}
.head .search-box .btn-search {
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 8px;
    vertical-align: top;
}
.head .search-box .btn-search .icon-search {
    font-size: 20px;
    color: #fff;
}
.head .search-box .search-down {
    display: inline-block;
    width: 70px;
    font-size: 14px;
    cursor: pointer;
    color: #26c9dc;
}
.head .search-box .search-down:hover {
    color: #fff
}
.head .search-box .search-down .search-down-item {
    display: none;
    height: 100%;
    line-height: 40px;
}
.head .search-box .search-down .search-down-item.active {
    display: block
}

/* 数据展示 */

.panel {
    height: 720px;
    margin-bottom: 15px;
}
.panel .panel-left {
    float: left;
    width: 70%;
    height: 100%;
}
.panel .panel-right {
    float: right;
    width: 29%;
    height: 100%;
}
.panel .panel-left .data-view {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.panel .panel-left .data-view .data-view-item {
    width: 33%;
    height: 100px;
    padding-top: 15px;
    text-align: center;
    color: #fff
}
.panel .panel-left .data-view .data-view-item:nth-of-type(1) {
    background: #3780ea url(../img/company.png) no-repeat center right/auto 120%;
    background-position: 104% -40%;
}
.panel .panel-left .data-view .data-view-item:nth-of-type(2) {
    background: #fda744 url(../img/eye.png) no-repeat center right/auto 120%;
    background-position: 110% -40%;
}
.panel .panel-left .data-view .data-view-item:nth-of-type(3) {
    background: #ea366d url(../img/note.png) no-repeat center right/auto 120%;
    background-position: 110% -40%;
}
.panel .panel-left .data-view .data-view-item .count {
    font-size: 30px;
}
.panel .panel-left .data-view .data-view-item .text {
    font-size: 16px;
}
.panel .panel-left .summary-chart {
    background: #fff;
    position: relative;
    height: calc(100% - 115px);
}
.panel .panel-left .summary-chart .list-view {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 300px;
    height: 560px;
    padding: 30px;
    background: #243650;
}
.panel .panel-left .summary-chart .list-view .city-list {
    height: 100%;
    overflow: hidden;
}
.panel .panel-left .summary-chart .list-view .city-list .city-list-item {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    color: #c5d8ff
}
.panel .panel-left .summary-chart .list-view .city-list .city-list-item .city-name {
    float: left;
}
.panel .panel-left .summary-chart .list-view .city-list .city-list-item .count {
    float: right;
}
.chart-table-wrapper {
    height: 600px;
    margin-bottom: 15px;
    background: #1e2e46;
}
.panel .panel-right .trend {
    margin: 20px;
}
.panel .panel-right .trend .trend-top {
    margin-bottom: 10px;
}
.panel .panel-right .trend .trend-top .icon-2 {
    font-size: 38px;
    color: #22c9df;
    vertical-align: -5px;
}
.panel .panel-right .trend .trend-top .title {
    margin-left: 10px;
    font-size: 28px;
    color: #fff;
}

/* .panel .panel-right .trend .trend-list {} */

.panel .panel-right .trend .trend-list .trend-list-item {
    position: relative;
    height: 100px;
    padding: 15px 0;
    font-size: 24px;
    color: #c5d8ff;
    border-top: 1px solid #000;
}
.panel .panel-right .trend .trend-list .trend-list-item .num {
    margin-right: 10px;
}
.panel .panel-right .trend .trend-list .trend-list-item .tip {
    display: inline-block;
    padding: 0 10px;
    border-radius: 10px;
}
.panel .panel-right .trend .trend-list .trend-list-item .iconfont {
    position: absolute;
    top: 0;
    right: 0;
    width: 30;
    height: 30px;
    font-size: 30px;
    color: #f90751;
}