<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>数据分析</title>
    <link rel="stylesheet" href="../style/reset.css">
    <link rel="stylesheet" href="../fonts/iconfont.css">
    <link rel="stylesheet" href="../style/common.css">
</head>

<body class="data">
    <div class="head clearfix">
        <div class="logo-box">
            <img src="../img/logo.png" alt="">
        </div>
        <div class="nav">
            <ul class="menu">
                <li>
                    <a href="../index.html">总览</a>
                </li>
                <li>
                    <a href="data.html">数据分析</a>
                </li>
                <li>
                    <a href="keyword.html">特征词</a>
                </li>
                <li>
                    <a href="location.html">企业分布</a>
                </li>
                <li>
                    <a href="monitor.html">监控设置</a>
                </li>
                <li>
                    <a href="">舆情管理</a>
                </li>
            </ul>
        </div>
        <div class="search-box">
            <input class="search-input" type="text" placeholder="请输入企业名称">
            <a href="javascript:;" class="btn-search">
                <i class="iconfont icon-search"></i>
            </a>
            <a class="search-down">
                <span class="search-down-item active">用户名
							<i class="iconfont icon-moreunfold"></i>
						</span>
                <span class="search-down-item">公司名</span>
            </a>
        </div>
    </div>
    <div class="main">
        <div class="panel-head">
            <div class="panel-title">
                <i class="iconfont icon-chart"></i> 芜湖市企业风险分布<small class="small">查询时间：<span>2017-01-01</span></small>
            </div>
        </div>
        <div class="table-wrapper">

        </div>
        <div class="panel-head m-t-10">
            <div class="panel-title">
                <i class="iconfont icon-chart"></i> 芜湖市风险变化分布<small class="small">查询时间：<span>2017-01-01</span></small>
            </div>
        </div>
        <div class="table-wrapper">

        </div>
        <div class="clearfix  m-t-10">
            <div class="pull-left p-r-5 w-pct-50">
                <div class="panel-head">
                    <div class="panel-title">
                        <i class="iconfont icon-chart"></i> 企业所属行业分析<small class="small">查询时间：<span>2017-01-01</span></small>
                    </div>
                </div>
                <div class="table-wrapper">

                </div>
            </div>
            <div class="pull-right p-l-5 w-pct-50">
                <div class="panel-head">
                    <div class="panel-title">
                        <i class="iconfont icon-chart"></i> 企业风险程度分析<small class="small">查询时间：<span>2017-01-01</span></small>
                    </div>
                </div>
                <div class="table-wrapper">

                </div>
            </div>
        </div>

        <div class="panel-head  m-t-10">
            <div class="panel-title">
                <i class="iconfont icon-chart"></i> 芜湖市企业风险分布<small class="small">查询时间：<span>2017-01-01</span></small>
            </div>
        </div>
        <div class="table-wrapper">

        </div>
    </div>
    <div class="foot">
        技术支持：惠国征信服务股份有限公司
    </div>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="./js/common.js"></script>
</body>

</html>