<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>企业分布</title>
    <link rel="stylesheet" href="../style/reset.css">
    <link rel="stylesheet" href="../fonts/iconfont.css">
    <link rel="stylesheet" href="../style/common.css">
</head>

<body class="location">
    <div class="head clearfix">
        <div class="logo-box">
            <img src="../img/logo.png" alt="">
        </div>
        <div class="nav">
            <ul class="menu">
                <li>
                    <a href="../index.html">总览</a>
                </li>
                <li>
                    <a href="data.html">数据分析</a>
                </li>
                <li>
                    <a href="keyword.html">特征词</a>
                </li>
                <li>
                    <a href="location.html">企业分布</a>
                </li>
                <li>
                    <a href="monitor.html">监控设置</a>
                </li>
                <li>
                    <a href="">舆情管理</a>
                </li>
            </ul>
        </div>
        <div class="search-box">
            <input class="search-input" type="text" placeholder="请输入企业名称">
            <a href="javascript:;" class="btn-search">
                <i class="iconfont icon-search"></i>
            </a>
            <a class="search-down">
                <span class="search-down-item active">用户名
							<i class="iconfont icon-moreunfold"></i>
						</span>
                <span class="search-down-item">公司名</span>
            </a>
        </div>
    </div>
    <div class="main">
        <div class="panel-head line-1px">
            <div class="panel-title">
                <i class="iconfont icon-chart"></i> 区域统计
            </div>
        </div>
        <div class="panel-body clearfix">
            <ul class="search-list">
                <li class="search-list-item">
                    <a href="javascript:;" class="select-btn active">芜湖市</a>
                </li>
                <li class="search-list-item">
                    <a href="javascript:;" class="select-btn">镜湖区</a>
                </li>
                <li class="search-list-item">
                    <a href="javascript:;" class="select-btn">弋江区</a>
                </li>
                <li class="search-list-item">
                    <a href="javascript:;" class="select-btn">三山区</a>
                </li>
                <li class="search-list-item">
                    <a href="javascript:;" class="select-btn">芜湖县</a>
                </li>
                <li class="search-list-item">
                    <a href="javascript:;" class="select-btn">南陵县</a>
                </li>
                <li class="search-list-item">
                    <a href="javascript:;" class="select-btn">繁昌县</a>
                </li>
                <li class="search-list-item">
                    <a href="javascript:;" class="select-btn">无为县</a>
                </li>
            </ul>
        </div>
        <div class="area-wrapper m-t-10">
            <div class="area-head line-1px">
                <span class="are-name">镜湖区</span>
                <span class="count">共<i class="num">24</i>家</span>
                <div class="more">
                    <i class="iconfont icon-arrfill_l"></i>
                </div>
            </div>
            <div class="area-body m-b-10">
                <ul class="company-list clearfix">
                    <li class="company-list-item">
                        <span class="company-name">某某某某公司</span>
                        <span class="company-state skin-bg-red">高风险</span>
                    </li>
                    <li class="company-list-item">
                        <span class="company-name">某某某某公司某某某某公司某某某某公司某某某某公司</span>
                        <span class="company-state skin-bg-red">高风险</span>
                    </li>
                    <li class="company-list-item">
                        <span class="company-name">某某某某公司某某某某公司</span>
                        <span class="company-state skin-bg-red">高风险</span>
                    </li>
                    <li class="company-list-item">
                        <span class="company-name">某某某某公司某某某某公司某某某某公司</span>
                        <span class="company-state skin-bg-red">高风险</span>
                    </li>
                    <li class="company-list-item">
                        <span class="company-name">某某某某公司某某某某公司某某某某公司某某某某公司</span>
                        <span class="company-state skin-bg-red">高风险</span>
                    </li>
                    <li class="company-list-item">
                        <span class="company-name">某某某某公司某某某某公司某某某某公司某某某某公司某某某某公司某某某某公司</span>
                        <span class="company-state skin-bg-red">高风险</span>
                    </li>
                    <li class="company-list-item">
                        <span class="company-name">某某某某公司</span>
                        <span class="company-state skin-bg-red">高风险</span>
                    </li>
                    <li class="company-list-item">
                        <span class="company-name">某某某某公司</span>
                        <span class="company-state skin-bg-red">高风险</span>
                    </li>
                </ul>
            </div>
            <div class="area-head line-1px">
                <span class="are-name">弋江区</span>
                <span class="count">共<i class="num">24</i>家</span>
                <div class="more">
                    <i class="iconfont icon-arrfill_l"></i>
                </div>
            </div>
            <div class="area-body m-b-10">
                <ul class="company-list clearfix">
                    <li class="company-list-item">
                        <span class="company-name">某某某某公司</span>
                        <span class="company-state skin-bg-red">高风险</span>
                    </li>
                    <li class="company-list-item">
                        <span class="company-name">某某某某公司某某某某公司某某某某公司某某某某公司</span>
                        <span class="company-state skin-bg-red">高风险</span>
                    </li>
                    <li class="company-list-item">
                        <span class="company-name">某某某某公司某某某某公司</span>
                        <span class="company-state skin-bg-red">高风险</span>
                    </li>
                    <li class="company-list-item">
                        <span class="company-name">某某某某公司某某某某公司某某某某公司</span>
                        <span class="company-state skin-bg-red">高风险</span>
                    </li>
                    <li class="company-list-item">
                        <span class="company-name">某某某某公司某某某某公司某某某某公司某某某某公司</span>
                        <span class="company-state skin-bg-red">高风险</span>
                    </li>
                    <li class="company-list-item">
                        <span class="company-name">某某某某公司某某某某公司某某某某公司某某某某公司某某某某公司某某某某公司</span>
                        <span class="company-state skin-bg-red">高风险</span>
                    </li>
                    <li class="company-list-item">
                        <span class="company-name">某某某某公司</span>
                        <span class="company-state skin-bg-red">高风险</span>
                    </li>
                    <li class="company-list-item">
                        <span class="company-name">某某某某公司</span>
                        <span class="company-state skin-bg-red">高风险</span>
                    </li>
                    <li class="company-list-item">
                        <span class="company-name">某某某某公司</span>
                        <span class="company-state skin-bg-red">高风险</span>
                    </li>
                    <li class="company-list-item">
                        <span class="company-name">某某某某公司</span>
                        <span class="company-state skin-bg-red">高风险</span>
                    </li>
                    <li class="company-list-item">
                        <span class="company-name">某某某某公司</span>
                        <span class="company-state skin-bg-red">高风险</span>
                    </li>
                    <li class="company-list-item">
                        <span class="company-name">某某某某公司</span>
                        <span class="company-state skin-bg-red">高风险</span>
                    </li>
                    <li class="company-list-item">
                        <span class="company-name">某某某某公司</span>
                        <span class="company-state skin-bg-red">高风险</span>
                    </li>
                    <li class="company-list-item">
                        <span class="company-name">某某某某公司</span>
                        <span class="company-state skin-bg-red">高风险</span>
                    </li>
                    <li class="company-list-item">
                        <span class="company-name">某某某某公司</span>
                        <span class="company-state skin-bg-red">高风险</span>
                    </li>
                    <li class="company-list-item">
                        <span class="company-name">某某某某公司</span>
                        <span class="company-state skin-bg-red">高风险</span>
                    </li>
                    <li class="company-list-item">
                        <span class="company-name">某某某某公司</span>
                        <span class="company-state skin-bg-red">高风险</span>
                    </li>
                    <li class="company-list-item">
                        <span class="company-name">某某某某公司</span>
                        <span class="company-state skin-bg-red">高风险</span>
                    </li>
                    <li class="company-list-item">
                        <span class="company-name">某某某某公司</span>
                        <span class="company-state skin-bg-red">高风险</span>
                    </li>
                    <li class="company-list-item">
                        <span class="company-name">某某某某公司</span>
                        <span class="company-state skin-bg-red">高风险</span>
                    </li>
                    <li class="company-list-item">
                        <span class="company-name">某某某某公司</span>
                        <span class="company-state skin-bg-red">高风险</span>
                    </li>
                    <li class="company-list-item">
                        <span class="company-name">某某某某公司</span>
                        <span class="company-state skin-bg-red">高风险</span>
                    </li>
                    <li class="company-list-item">
                        <span class="company-name">某某某某公司</span>
                        <span class="company-state skin-bg-red">高风险</span>
                    </li>
                    <li class="company-list-item">
                        <span class="company-name">某某某某公司</span>
                        <span class="company-state skin-bg-red">高风险</span>
                    </li>
                    <li class="company-list-item">
                        <span class="company-name">某某某某公司</span>
                        <span class="company-state skin-bg-red">高风险</span>
                    </li>
                    <li class="company-list-item">
                        <span class="company-name">某某某某公司</span>
                        <span class="company-state skin-bg-red">高风险</span>
                    </li>
                    <li class="company-list-item">
                        <span class="company-name">某某某某公司</span>
                        <span class="company-state skin-bg-red">高风险</span>
                    </li>
                    <li class="company-list-item">
                        <span class="company-name">某某某某公司</span>
                        <span class="company-state skin-bg-red">高风险</span>
                    </li>
                    <li class="company-list-item">
                        <span class="company-name">某某某某公司</span>
                        <span class="company-state skin-bg-red">高风险</span>
                    </li>
                    <li class="company-list-item">
                        <span class="company-name">某某某某公司</span>
                        <span class="company-state skin-bg-red">高风险</span>
                    </li>
                    <li class="company-list-item">
                        <span class="company-name">某某某某公司</span>
                        <span class="company-state skin-bg-red">高风险</span>
                    </li>
                    <li class="company-list-item">
                        <span class="company-name">某某某某公司</span>
                        <span class="company-state skin-bg-red">高风险</span>
                    </li>
                    <li class="company-list-item">
                        <span class="company-name">某某某某公司</span>
                        <span class="company-state skin-bg-red">高风险</span>
                    </li>
                    <li class="company-list-item">
                        <span class="company-name">某某某某公司</span>
                        <span class="company-state skin-bg-red">高风险</span>
                    </li>
                    <li class="company-list-item">
                        <span class="company-name">某某某某公司</span>
                        <span class="company-state skin-bg-red">高风险</span>
                    </li>
                    <li class="company-list-item">
                        <span class="company-name">某某某某公司</span>
                        <span class="company-state skin-bg-red">高风险</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="./js/common.js"></script>
</body>

</html>