<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>监控设置</title>
    <link rel="stylesheet" href="../style/reset.css">
    <link rel="stylesheet" href="../fonts/iconfont.css">
    <link rel="stylesheet" href="../style/common.css">
</head>

<body class="monitor">
    <div class="head clearfix">
        <div class="logo-box">
            <img src="../img/logo.png" alt="">
        </div>
        <div class="nav">
            <ul class="menu">
                <li>
                    <a href="../index.html">总览</a>
                </li>
                <li>
                    <a href="data.html">数据分析</a>
                </li>
                <li>
                    <a href="keyword.html">特征词</a>
                </li>
                <li>
                    <a href="location.html">企业分布</a>
                </li>
                <li>
                    <a href="monitor.html">监控设置</a>
                </li>
                <li>
                    <a href="">舆情管理</a>
                </li>
            </ul>
        </div>
        <div class="search-box">
            <input class="search-input" type="text" placeholder="请输入企业名称">
            <a href="javascript:;" class="btn-search">
                <i class="iconfont icon-search"></i>
            </a>
            <a class="search-down" id="search-down">
                <div class="search-down-item active">用户名</div>
                <div class="search-down-item">公司名</div>
                <i class="iconfont icon-moreunfold"></i>
            </a>
        </div>
    </div>
    <div class="main">
        <div class="panel-head line-1px">
            <div class="panel-title">
                <i class="iconfont icon-chart"></i> 企业监控
            </div>
        </div>
        <div class="panel-body clearfix">
            <div class="search-box">
                <input class="search-input" type="text" placeholder="请输入企业名称">
                <a href="javascript:;" class="btn-search">
                    <i class="iconfont icon-search"></i>
                </a>
            </div>
            <div class="btn-add-monitor">
                <i class="iconfont icon-add"></i> 新增监控
            </div>
        </div>
        <div class="table-wrapper m-t-10">

        </div>
    </div>
    <div class="foot">
        技术支持：惠国征信服务股份有限公司
    </div>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="./js/common.js"></script>
</body>

</html>